body {
    margin: 0;
    padding-top: 800px;
   }
        
        
        
{text-align: center;}



#welcome {
    position: absolute;
    height: 800px;
    color: #FFFFFF;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.83;
    background: linear-gradient(#60ebeb 0%, #27ae60 100%);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9
}



#album
{
  border-style:solid;
  border-color:#689F38
  border: 1px 
  border-radius: 80px;
  padding: 5px;
  width: 450px;
}